* {
     font-family: "Raleway", sans-serif;
}

#mySidebar nav {
     z-index: 3;
     width: 300px;
}

#mySidebar img {
     width: 80%;
     height: auto;
}

.w3-main {
     margin-left: 220px;
}

/*cắt ảnh hình vuông*/
#portfolio img {
     width: 65px;
     height: 65px;
     object-fit: cover;
}

